table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    /* border: 1px solid #dddddd; */
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .ActiveClass{
    border: 1px solid green;
    color: green;
    border-radius: 5px;
    padding: 5px;
  }

  .InactiveClass{
    border: 1px solid red;
    color: red;
    border-radius: 5px;
    padding: 5px;
  }