.banner{
    background: url(../Assets/airportBackground.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Poppins,sans-serif;
    height: 80vh;
    
    width: 100%;
}
.homeDivWelcome{
    padding: 10px;
}
.searchFlightHome{
    margin: -20rem auto 0;
    box-shadow: 5px 10px 20px 0 rgb(8 45 61 / 17%);
    position: relative;
    max-width: 85%;
    
    z-index: 1;
    background-color: #fcf2e5;
}
.welcomeHeadline{
font-family: Verdana,Tahoma,sans-serif;
    font-weight: 650;
    margin: 0;
    margin-bottom: -10px;
    font-size: 65px;
    background: #46729a;
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 140%;
}
.subhead{
    font-weight: bold;
}

.time-weather{
    flex-direction: row;
    display: flex;
}
.radio{
    font-weight: 500px;
}

.radioButton{
    padding: 5px;
    font-weight: 600;
    font-size: 20px;
}

.search{
    float: right;
    padding: 6px;
    border: none;
    /* margin-top: 8px; */
    /* margin-right: 42px; */
    font-size: 17px;
    width: 90%;
    margin-left: 20px;
    background-image: url('./../Assets/icon-plane-takeoff.svg');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding-left:66px;
}
.homeInfo{
    /* margin: -20rem auto 0; */
    /* box-shadow: 5px 10px 20px 0 rgb(8 45 61 / 17%); */
    /* position: relative; */
    max-width: 85%;
    margin-left: 105px;
    z-index: 1;
    background-color: #fcf2e5;
    /* padding: 15px; */

}

.field__item
{
    padding: 1rem 38px;
    width: 100%;
    display: block;
    /* background-color: #f0f5f8; */
    position: relative;
    transition: all 0.6s ease 0s;
    display: flex;
    justify-content: space-between;
}

.field__item > a{
    text-decoration: none;
    color: black;
}
.homeInfo-h4{
    margin-top: 10%;
}

.field__item :hover{
    color: white;
}

.Links{
    background-color: #46729a;
}